<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" type="text/css" th:href="@{'/css/bootstrap.css'}">
  <script type="text/javascript" th:src="@{'/js/bootstrap.bundle.js'}"></script>
</head>
<body>

<div class="container mt-5">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-6">
      <form th:action="@{'/saveSuretteNeKorsetilgen'}" method="post" enctype="multipart/form-data" th:if="${suretteNeKorsetilgen != null}">
        <input type="hidden" name="id" th:value="${suretteNeKorsetilgen.id}">
        <label>Name:</label><br>
        <input type="text" size="80" name="name" th:value="${suretteNeKorsetilgen.name}"><br>
        <label>Image:</label><br>
        <!--          <img th:src="@{ '/viewpic/' + ${#authentication.getPrincipal().avatar}}" width="300px">-->
        <input type="file" name="image_pic">
        <br><br>

        <button class="btn btn-success" style="display: flex">Change</button>

<!--        <form th:action="@{'/deletecinema'}" method="post" th:if="${cinemas != null}">-->
<!--          <input type="hidden" name="id" th:value="${cinemas.id}">-->
<!--          <button class="btn btn-danger" size="50">Delete</button>-->
<!--        </form>-->

      </form>

    </div>
  </div>
</div>

</body>
</html>